/*******************************
 * PAGE 404
 *******************************/

html {
    height: 100%;
}

.body {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer #footer-left {
    padding-left: 5rem;
}

footer #footer-right {
    padding-right: 5rem;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    font-family: 'PTSerif-Italic', serif;
    color: #41B591;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Sarabun-SemiBold', serif;
    text-transform: uppercase;
    color: #41B591;
    text-align: center;
}


@media (min-width: 320px) {
    section {
        flex-direction: column;
        top: 30%;
        transform: translateY(-30%);
        padding-left: 5px;
    }

    h1 {
        font-size: 110px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 768px) {
    section {
        top: 0;
        transform: none;
        padding-left: 0;
    }

    h1 {
        font-size: 180px;
    }

    h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (min-width: 1024px) {
    section {
        gap: 3rem;
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 240px;
    }
    h2 {
        font-size: 40px;
        line-height: 45px;
    }
}