/*******************************
 * APP
 *******************************/

/* Menu */
.app header { height: 4rem; 
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3); }


/* Footer */
.app footer { position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); }
.app footer p { font-family: 'Sarabun-LightItalic'; font-size: 14px; text-align: center; margin-bottom: 0; }


/* Commun */
.app section { margin-top: 2rem; }
.app h1 { font-family: 'Sarabun-Medium'; font-size: 41px; text-align: center; text-transform: uppercase; }
.app table th { font-family: 'Sarabun-SemiBold'; font-size: 25px; border-top: none; border-bottom-color: #373737; }


/* Login */
.app.login { height: 100vh; }
.app.login > .row { position: relative; top: 45%; transform: translateY(-50%); }
.app.login header { display: none; }
.app.login .logo { text-align: center; }
.app.login .logo img { width: 20%; }
.app.login .titre { margin-top: 3rem; }
.app.login .input { margin-top: 2rem; }
.app.login .input input { width: 20%; margin-bottom: 2rem; position: relative; left: 50%; transform: translateX(-50%); }
.app.login .message { text-align: center; }
.app.login .message.co { margin-top: 2rem; }


/* Homepage */
.app.homepage section { position: absolute; top: 45%; transform: translateY(-50%); width: 100%; }
.app.homepage .content { text-align: center; margin-top: 3rem; }
.app.homepage .content p:first-child { font-family: 'Sarabun-SemiBold'; font-size: 35px; color: #41B591; margin-bottom: 0; }
.app.homepage .content p:last-child { font-size: 25px; }

/* Les projets */
.app.projet table th.center, .app.projet table td.center { text-align: center; }
.app.projet table td span { width: 10px; height: 10px; border-radius: 50%; display: inline-block; }
.app.projet table td span.active { background-color: #3BB540; }
.app.projet table td span.inactive { background-color: #EC5757; }
.app.projet table td.actions img { width: 20px; }
.app.projet table tr.deactive { background-color: rgba(206, 206, 206, 0.3); }
.app.projet .button { margin-top: 1rem; }

/* Ajouter/Modifier un projet */
.app.projet #form-tags legend { margin-bottom: 1rem; }
.app.projet #img-couverture { text-align: center; margin-bottom: 2rem; }



