/*******************************
* CONFIDENTIALITY PAGE
*******************************/

h1 {
    text-transform: uppercase;
    color: #41B591;
    margin-bottom: 3rem;
}

h1.orange {
    color: #D7760C;
}

h2 {
    font-family: 'Sarabun-Bold', serif;
    font-size: 16px;
    text-transform: inherit;
    color: #000;
    margin-bottom: 0;
}

.row {
    margin-bottom: 5rem;
}

