/* Home Page Styles */

.home {
    height: 100vh;
    background-color: #41B591;
    position: relative;
}

.home section {
    width: 50%;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.home .buttons {
    display: flex;
    gap: 5rem;
}

.home .buttons button.btn {
    color: #41B591;
    background-color: #ffffff;
}

.home button.btn a,
.home button.btn a:focus,
.home button.btn a:hover {
    color: #41B591;
}

.home footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}